*{
    box-sizing: border-box;
}
body{
    /* 全体の横幅 */
    width: 320px;
    /* 全体を中央寄せ */
    margin: auto;
    /* 全体の余白 */
    padding: 50px;
    
    background: #00b5de;
}

/* 数字 通常*/
h1{
    margin: auto;
    
    font-size: 6.0em;
    /* 文字の太さ */
    font-weight: 400;
    
    /* 文字を中央寄せ */
    text-align: center;
    
    /* 横幅 */
    width: 250px;
    
    /* 縦幅 */
    height: 250px;
    line-height: 250px;
    
    /* 枠の太さ 線の種類 色 */
    border: 2px solid #d8d8d8;
    
    /* 枠を丸くする */
    border-radius: 50%;
    
    margin-top: 20px;
}


/* 数字 3の倍数または、3がつく数字の時*/
h2{
    margin: auto;
    
    font-size: 6.0em;
    /* 文字の太さ */
    font-weight: 400;
    
    /* 文字を中央寄せ */
    text-align: center;
    
    /* 横幅 */
    width: 250px;
    
    /* 縦幅 */
    height: 250px;
    line-height: 250px;
    
    /* 枠の太さ 線の種類 色 */
    border: 2px solid #f8b516;
    
    /* 枠を丸くする */
    border-radius: 50%;
    
    margin-top: 20px;
}

/* 通常時 */
s1{
    color: #edda15;
}
/* 3の倍数の時 */
s2{
    color: #d01026;
}
/* 5の倍数の時 */
s3{
    color: #ec6c1f;
}
/* 15の倍数の時 */
s4{
    color: #2a6d39;
}

/* ボタン共通 */
input{
    border: 0;
    background: none;
    display: block;
    margin: auto;
    
    width: 120%;
    text-align: center;
    
    /* 上との余白 */
    margin-top: 20px;
    
    /* 文字の大きさ */
    font-size: 20px;
}

/* プラスボタン */
input[value="+"]{
    
    /* 文字の色 */
    color: #d8d8d8;
    
    /* 背景 */
    background: #e94c4d;
}

/* マイナスボタン */
input[value="-"]{
    color: #d8d8d8;
    background: #c2ca2e;
}

input[value="clear"]{
    color: #d8d8d8;
    background: #f8b516;
}

input[value="×2"]{
    
    /* 文字の色 */
    color: #d8d8d8;
    
    /* 背景 */
    background: #0000f9;
}

input[value="÷2"]{
    color: #d8d8d8;
    background: #ffff41;
}